{% extends 'main/base.html' %}

{% block title %}
Планирование закупок
{% endblock %}

{% block content %}
    <h1>Планирование закупок</h1>
    <table class="table table_one">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Тип продукции</th>
            <th scope="col">Поставщик</th>
            <th scope="col">Продукты</th>
            <th scope="col">Количество</th>
            <th scope="col">Дата</th>
            <th scope="col">Сумма</th>
        </tr>
        </thead>
        <tr>
            <th></th>
        </tr>
{% endblock %}
