{% extends 'main/base.html' %}

{% block title %}
Отчёты
{% endblock %}

{% block content %}
<head>
    <meta charset="utf-8">
  <title>Круговая диаграмма</title>
  <script src="https://www.google.com/jsapi"></script>
  <script>
   google.load("visualization", "1", {packages:["corechart"]});
   google.setOnLoadCallback(drawChart);
   function drawChart() {
    var data = google.visualization.arrayToDataTable([
     ['Оборот', 'Процент'],
     ['Использовалось',     95],
     ['Утилизировалось', 5],
    ]);
    var options = {
     title: 'Оборотность',
     is3D: true,
     pieResidueSliceLabel: 'Остальное'
    };
    var chart = new google.visualization.PieChart(document.getElementById('air'));
     chart.draw(data, options);
   }
  </script>
    <style>
        select {
          width: 100%;
          padding:10px;
          border-radius:10px;
        }
    </style>
</head>
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Оборотность</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-calendar" aria-hidden="true"><rect x="3" y="4" width="18" height="18" rx="2" ry="2"></rect><line x1="16" y1="2" x2="16" y2="6"></line><line x1="8" y1="2" x2="8" y2="6"></line><line x1="3" y1="10" x2="21" y2="10"></line></svg>
            Эта неделя
          </button>
        </div>
    </div>
    <div class="container">
        <p></p>
        <form method=POST action="">
            {{ form }}
        </form>
    </div>
    <div id="air" style="width: 500px; height: 400px;"></div>
    <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead>
                <tr>
                  <th scope="col">Общее поличество</th>
                  <th scope="col">Продукты</th>
                  <th scope="col">Использовалось</th>
                  <th scope="col">Утилизировалось</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>20</td>
                  <td>Огурцы</td>
                  <td>95</td>
                  <td>5</td>
                </tr>
                <tr>
                  <td>23</td>
                  <td>Помидоры</td>
                  <td>92</td>
                  <td>8</td>
                </tr>
                <tr>
                  <td>40</td>
                  <td>Говядина</td>
                  <td>87</td>
                  <td>13</td>
                </tr>
              </tbody>
            </table>
    </div>
{% endblock %}